<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://m.hellobike.com/resource/helloyun/12395/0USLE_quark.png?x-oss-process=image/quality,q_80"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Quark</title>
    <script type="module" src="./src/main.ts"></script>
    <!-- <script type="module" src="./src/views/index/index.tsx"></script> -->
  </head>
  <body>
    <!-- <app-home></app-home> -->

    <app-header></app-header>
    <div id="root"></div>
  </body>
</html>
